.program-table {
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.program-table td.all-rooms {
  text-align: center;
  font-weight: bold;
}
.program-table th {
  text-align: center;
}
.program-table td, .program-table th {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-bottom: 4px solid white;
}
.program-table .not-empty {
  background-color: #ccebd8;
  border: 4px solid white;
}
.program-header th {
  background-color: #ff6600;
  color: white;
}

.program-table .time {
  text-align: right;
  color: #666;
}

.presenter-photo.small {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.presenter-photo.medium {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.two-column {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
