<!--========================================
=            Navigation Section            =
=========================================-->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="p-2" href="index.html">
      <img src="{{ site.baseurl }}/{{ page.logo }}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/{{ page.kickoff.year }}/#about">Sobre<span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/{{ page.kickoff.year }}/#schedule">Programação<span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/{{ page.kickoff.year }}/guidelines-autores">Orientações<span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/{{ page.kickoff.year }}/#venue">Local</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->